body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(to bottom, #ffffff, #e6eff5);
}

main canvas {
    box-shadow: 0px 9px 16px 3px rgba(0, 0, 0, 0.25);
}